APP_ENV=local
APP_URL=http://localhost:8000
APP_KEY=

DB_HOST=127.0.0.1
DB_NAME=myn
DB_USER=root
DB_PASS=

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=info@makueniyouth.org

MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
