/vendor/
/.env
/storage/logs/*
!/storage/logs/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
composer.phar
composer-setup.php
.phpunit.cache/
.phpunit.result.cache
/dist/
.DS_Store
.idea/
.vscode/
*.log
